* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d9e3f1;
    font-family: "Poppins", sans-serif;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

form#tForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form#tForm label {
    font-size: 24px;
    margin-right: 12px;
    font-weight: normal;
}

form#tForm input {
    font-size: 18px;
    font-weight: lighter;
    border-radius: 6px;
    padding: 10px;
    border: 3px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead th {
    font-size: 24px;
    padding: 10px;
    font-weight: bolder;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

table tbody td {
    font-size: 18px;
    padding: 10px;
    font-weight: light;
    border-bottom: 1px solid #ccc;
}

button#ADD {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4ee956;
    color: white;
    cursor: pointer;
}

button#ADD:hover {
    background-color: #45d850;
}
